package ${controllerPackageName};

import ${modelPackageName}.${modelName};
import ${servicePackageName}.${modelName}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import java.util.List;

@RestController
@RequestMapping("/${modelNameLower}")
public class ${modelName}Controller {

    @Autowired
    private ${modelName}Service ${modelNameLower}Service;

    @GetMapping("/getAll")
    public List<${modelName}> getAll() {
        return ${modelNameLower}Service.getAll();
    }

    @GetMapping("/{id}")
    public ${modelName} getById(@PathVariable ${pkType} id) {
        return ${modelNameLower}Service.getById(id);
    }

    @PostMapping("/upsert")
    public void upsert(@RequestBody ${modelName} ${modelNameLower}) {
        ${modelNameLower}Service.upsert(${modelNameLower});
    }

    @PostMapping("/batch-upsert")
    public void batchUpsert(@RequestBody List<${modelName}> list) {
        ${modelNameLower}Service.batchUpsert(list);
    }

    @DeleteMapping("/batch-delete")
    public void batchDelete(@RequestBody List<${pkType}> ids) {
        ${modelNameLower}Service.batchDelete(ids);
    }
}