package ${serviceImplPackageName};

import ${mapperPackageName}.${modelName}Mapper;
import ${modelPackageName}.${modelName};
import ${servicePackageName}.${modelName}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;

@Service
public class ${modelName}ServiceImpl implements ${modelName}Service {

    @Autowired
    private ${modelName}Mapper ${modelNameLower}Mapper;

    @Override
    public List<${modelName}> getAll() {
        return ${modelNameLower}Mapper.selectByExample(null);
    }

    @Override
    public ${modelName} getById(${pkType} id) {
        return ${modelNameLower}Mapper.selectByPrimaryKey(id);
    }

    @Override
    public int create(${modelName} model) {
        return ${modelNameLower}Mapper.insert(model);
    }

    @Override
    public int update(${modelName} model) {
        return ${modelNameLower}Mapper.updateByPrimaryKey(model);
    }

    @Override
    public int delete(${pkType} id) {
        return ${modelNameLower}Mapper.deleteByPrimaryKey(id);
    }
    @Override
    public int upsert(${modelName} model) {
        return ${modelNameLower}Mapper.upsert(model);
    }

    @Override
    public int batchUpsert(List<${modelName}> list) {
        return ${modelNameLower}Mapper.batchUpsert(list);
    }

    @Override
    public int batchDelete(List<${pkType}> ids) {
        return ${modelNameLower}Mapper.batchDelete(ids);
    }
}