package ${servicePackageName};

import ${modelPackageName}.${modelName};
import java.util.List;

public interface ${modelName}Service {
    List<${modelName}> getAll();
    ${modelName} getById(${pkType} id);
    int create(${modelName} model);
    int update(${modelName} model);
    int delete(${pkType} id);
    int upsert(${modelName} model);
    int batchUpsert(List<${modelName}> list);
    int batchDelete(List<${pkType}> ids);
}