package ${servicePackageName};

import ${modelPackageName}.${modelName};
import java.util.List;

public interface ${modelName}Service {
    List<${modelName}> getAll();
    ${modelName} getById(${pkType} id);
    void create(${modelName} model);
    void update(${modelName} model);
    void delete(${pkType} id);
    void upsert(${modelName} model);
    void batchUpsert(List<${modelName}> list);
    void batchDelete(List<${pkType}> ids);
}